.messageList {
  padding: 20px;
}

.message {
  border: solid 1px pink;
}

.author {
  color: green;
  font-size: 1.8rem;
}

.content {
  color: blue;
  font-size: 3rem;
}

.created {
  font-size: 1.2rem; 
}
